.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 1vmin);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body {
  background-color: #4c5260;

  min-height: 100vh;
  width: 100vw;
  max-width: 1000px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.networkSelectorButton {
  text-align: center;
}

.address {
  margin: 20px 0;
}

.card {
  background-color: white;
  color: #282c34;

  padding: 0 20px 20px 20px;
  margin-top: 30px;
}

.success {
  color: green;
}
